<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1> Flask Practice Application</h1>
    <div class="container">
      <!-- This is where the layout goes!! -->
      {% block body %}{% endblock %}
    </div>

    <!--Import bootstrap scripts-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript"></script>
  </body>

  <footer>
    William Horn
  </footer>

</html>
